@font-face {
  font-family: "Bangers";
  src: url(/fonts/Bangers-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "FiraSans";
  src: url(/fonts/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  src: url(/fonts/SourceCodePro-VariableFont_wght.ttf) format("truetype");
}
