---
const { title, href, img } = Astro.props;
---
<div class="border rounded-lg border-zinc-600 w-fit p-3 shadow-lg hover:bg-zinc-100 bg-white">
    <a role="button" href={href}>
        <h2 class="underline font-mono text-lg mb-2">{title}</h2>
        <img class="w-64 mx-auto" src={img} alt={`${title} album cover`} />
    </a>
</div>