---
import {NavBar} from '../components/NavBar.jsx'
import favicon from '../assets/favicon.png'
---
<style is:global>
    @font-face {
        font-family: 'Bangers';
        src: url('/fonts/Bangers-Regular.ttf') format('truetype');
    }
</style>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href={favicon} />
        <meta name="generator" content={Astro.generator} />
        <title>A. Finn Hackett</title>
    </head>
    <body class="bg-zinc-100">
        <NavBar client:load />

        <main class="bg-white">
            <slot />
        </main>

        <footer class="text-center p-3">
            © {new Date().getFullYear()} A. Finn Hackett
        </footer>
    </body>
</html>